@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.font-bolder{
    font-weight: bolder;
}
:root{
    --primary-color:#980000;
    --secondary-color:#980000;
    --dark-grey:#eeb7b7;
    --off-white:#f5f5f5;
}
.primary-color{
    color: var(--primary-color);
}
body{
    font-family:'Poppins', sans-serif;
    margin: 0;
}
hr{
    margin: 1rem 0rem;
}

/**spaces**/
.margin-md{
    margin: 2rem;
}
.container{
    padding:1rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
    text-align: center;
}
/** Links **/
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.6rem 1rem;
    margin: 1rem 0rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/**Lists**/
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
display: inline-block;
padding: 0rem 0rem;
color:white
}

/**navigation**/
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-bottom-left-radius:1rem ;
}
.navigation .nav-brand{
    
    justify-content: flex-start;
    padding-left: 1.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}
.navigation .link{
    color: white;
    
}
.navigation .nav-pills{
    text-align: right;
}
.nav-image{
    max-width: 80px;
    justify-content: flex-start;
}
.nav-pills .link:hover,.nav-pills .link:hover{
    letter-spacing: 0.2rem;
}
.navigation .link-active{
    font-weight: bolder;
}

/**header**/

.hero{
    padding: 2rem;
}
.hero .hero-img{
    max-width: 350px;
    display: block;
    margin:auto;
    padding-top: 3rem;
}
.hero .hero-text{
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align: center;
    line-height: 160%;
}
.hero .hero-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-grey);
}
.heading-inverted{
    color: var(--primary-color);
}

/** Sections**/
.section{
    padding: 0.5rem 0rem;
    display: block;
    justify-content: center;
}
.section h1 {
    text-align: center;
       letter-spacing: 0.1rem;
}

.div{
    background-color: var(--dark-grey);
}
.section p{
    padding-bottom: 1rem;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding-top: 1rem;
    text-align: center;
    color: white;
    clear: both;
    height: 100px;
}

.footer .link{
    color: white;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer ul{
    padding-inline-start: 0px;
}
.grid-container{
    
    margin: auto;
    max-width: 1200px;
    align-items: center;
}
.col-3 {
    width: 50%;
    display: block;
 
}
.maincol{
    background-color: #FCE5E5;
    border-radius: 0.5rem;
    text-align: center;
    margin: 0.5rem 0.5rem 0rem 0.5rem; 
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

@media only screen and (max-width:900px) {
    /* Mobile View*/
    [class*="col-"]{
        width: 100%;
    }
    .list-item-inline{
        display: block;
    }
}
.row::after{
    content: "";
    clear: both;
    display: block;
    
}

[class*="col-"]{
    float: left;
}